<body style="background-image: height:105%; width: 100%;">
   
    <!-- <div class="topnav" >
        
   
        <img style="margin-right:30px" src="../../assets/assets/kanban logo1.png" alt="logo" style="width: 30px;margin-top: 10px; margin-left: -94.5%;height: 30px;padding-right: 40px;">

        <a  style="color: white;font-family: 'Great Vibes', cursive;margin-left: 75px; font-size: 20px; margin-left: 70px;" routerLink=""><p>Kanban Board</p></a>
        <a  style="color: white; margin-left:70%" routerLink="/register"><mat-icon>account_box</mat-icon></a>
        <a  style="color: white;" routerLink="/login"><mat-icon>login</mat-icon></a>
       
       
</div> -->
<!-- <router-outlet></router-outlet> -->
    <div style="margin-top: 12%;">
    <img src="../../assets/assets/img1.gif" style="height: 380px;width: 550px; margin-left:7%; margin-top :-90px;">
  
      <div style=" margin-left: 55%;width: 455px;margin-top: -30%;">
        <h2>What is Kanban Board ?</h2>
      The Kanban board is a tool for workflow visualization, designed to help you bring clarity to your work 
      process and enhance efficiency by limiting work in progress. 
 <br>
 <br>
      With this new level of transparency, you will quickly identify problematic work stages, and by 
      improving those, your team will soon work more efficiently.  
    </div>
  
    
</div>
<br>
<br>
<div style="border-top: 8px solid #221929; width:91%;margin-left: 5%;margin-top:14%"></div>
<div id="footer" style="text-align: center;">

    <ul style="margin-left: 17%;">
      <li><a href="index.html">TermsFeed 2022 - 2023</a> |</li>  Cookies Policy  
      <li><a target="_blank" routerLink="/privacy">Policy</a> |</li>
      <li><a href="index2.html">Cookis</a> |</li>
      <li><a href="index2.html">Terms  Use</a> </li>
    </ul>
   
   