<div class="main">
<mat-card style="width: 350px;">
    <mat-card-content>
        <p>Enter your email Id</p>
        <form class="form" (ngSubmit)="getPassword()" [formGroup]="forgotPasswordForm">
<mat-form-field class="input-field" style="width:300px; height: 70px;" appearance="fill">
    <input style="width:250px; height: 60px;margin-top: -20px;" matInput placeholder="emailId*" name="emailId"  id="emailId"  formControlName="emailId" type="text">
        <mat-error class="error" *ngIf="emailId?.errors?.['required']">​
           emailid is required​
        </mat-error>
        <mat-error *ngIf="emailId?.errors?.['pattern']">
            Should not be left blank and accepts valid email values separated by comma.</mat-error>
  </mat-form-field>

  <button class="button login__submit"  mat-button mat-raised-button [disabled]="!forgotPasswordForm.valid " 
  type="submit">send mail
   <i class="button__icon fas fa-chevron-right"></i></button>

</form>
  </mat-card-content>
</mat-card>

</div>