.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    /* border: 1px solid #555; */
  }

  .red{
    color: red;
  }

  .yellow{
    color: yellow;
  }

  .green{
    color: green;
  }

  .shadow{
    box-shadow: 2px 2px 8px #653d84;
    margin: 5px;
    height: 55px;
    width: 200px;
    padding: 0px;
  }
  
  .row {
    display: flex;
  }
  
  .span {
    flex: left;
    /* padding: 5px; */
  }
  .color{
    color:rgb(105, 67, 134) ;
}

.image{
  /* background-image:url(../../assets/assets/snow.jpg); */
  background-size: cover;
}
